.login_container{
  /* background-color: white;
  border: 1px solid black;
  height: 300px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  top: 20px;
  width: 100%; */
  margin: 100px auto 0px auto;
  padding: 30px 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  width: 400px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.login_button {
  margin-top: 20px;
  height: 33.33px;
  border-radius: 3px;
  font-size: 0.8rem;
  font-weight: bold;
  /* transition: background-color 0.5s;
  transition-timing-function: ease-in-out; */
}

.signup_button_div{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* align-content: ; */
}
