.form_inputs{
  display: flex;
  justify-content: center;

}

.form_input_div{
  display:flex;
  justify-content: center;
  margin-top: 10px;
}

.form_input_div{
  /* display: flex; */
}

.edit_form_button{
  padding: 8px;
  background-color:#B2EF9B;
  text-decoration: none;
  color: black;
  border-radius: 4px;
  font-size: 16px;

  min-width: 50px;
  text-align: center;

  margin-right: 15px;
}

.edit_form_button:hover{
  background-color: #92E873;
  cursor: pointer;
}

.delete_form_button{
  padding: 8px;
  background-color:#FE5F55;
  text-decoration: none;
  color: black;
  border-radius: 4px;
  font-size: 16px;

  min-width: 50px;
  text-align: center;
  margin-left: 10px;
  margin-right: 15px;
}

.delete_form_button:hover{
  background-color: #FE4134;
  cursor: pointer;
}
