.entire_navbar{
  position: fixed;
  top:0;
  left:0;
  width:100%;
}

.navbar_container{
  background-color: white;
  border-bottom: 1px solid rgba(128, 128, 128, 0.384);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  width: 100%;

}

.logo_img{
  height:35px;
}

.left_navbar{
  padding-left: 15px;
}

.right_navbar{
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.profile_img{
  /* padding-top: ; */
  height:30px;
  border:1px white solid;
  border-radius: 20px;
  /* padding-right: 10px; */
}

.login_navbar{
  padding: 10px;
  background-color:wheat;
  text-decoration: none;
  color: black;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  min-width: 50px;
  text-align: center;
  margin-right: 15px;

}

.signup_navbar{

  margin-left: 15px;
  padding: 10px;
  background-color:powderblue;
  color: black;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  min-width: 50px;
  text-align: center;

}


.signed_out{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  /* text-decoration: none; */
}

.signed_out :focus, :hover, :visited, :link, :active {
  text-decoration: none;
}
